.task-container{
    min-width: 500px;
    max-width: auto;
    margin: 20px;
    height: 90px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #d64fbf;
    box-shadow:  0 0 5px rgb(233, 157, 213);
    position: relative;
    background-color: #fff4fd;
}
.tasktittle{
    margin-top: 20px;
}
.takpriority{
    position: absolute;
    top:0;
    right: 0;
    background-color: rgb(3, 218, 242);
    padding: 10px;
    border-radius:  0 10px 0 0;
    width: 120px;
    font-size: 22px;
}
.taskdec{
    font-size: 25px;
   
}

.task-remove{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    color: rgb(15, 12, 12);
    height: 29px;
}