.task-container{
    min-width: 500px;
    max-width: auto;
    margin: 20px;
    height: 90px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ff1a8c;
    box-shadow:  0 0 5px rgb(233, 157, 213);
    position: relative;
    /* background-color: #fff4fd; */
    /* background-color: #ffe6f2; */
}
.tasktittle{
    margin-top: 20px;
    font-size: 30px;
}
.takpriority{
    position: absolute;
    top:0;
    right: 0;
    background-color: #eb65a8;
    padding: 10px;
    border-radius:  0 10px 0 0;
    width: 120px;
    color: white;
  
    font-size: 20px;
}
.taskdec{
    font-size: 25px;
   
}

.task-remove{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    color: rgb(15, 12, 12);
    height: 29px;
    padding: 6px;
}
.task-remove:hover{
    transform: scale(1.2);
}

.edit-icon{
    position: absolute;
    bottom: 10px;
    right: 60px;
    height: 29px;
    cursor: pointer;

}
.edit-icon:hover{
    transform: scale(1.2);
  

}