*{
    margin: 0;
    padding: 0;
}

.tittle-project{
    background-color: rgb(253, 159, 198);
    /* width: 400px; */
    padding: 15px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
 font-size: 20px;

}

.flex-box-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top:50px ;
}
.taskheading{
    font-size: 40px;
   text-align: center;
   margin-top: 30px;
}
.inputf{
    width: 500px;
    padding: 20px;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px solid #ff1a8c;
  
}
.btntask{
    width: 550px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(247, 152, 193);
}

.btntask:hover{
    background-color:white;
    color: #ff1a8c;
    border: 2px solid  #ff1a8c;
    cursor: pointer;
}
.task-list-container{
    /* background-color: #ff1a8c; */
    overflow-y: scroll;
    height: 450px;
}
.task-list-container::-webkit-scrollbar{
    width:5px;
}

